.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(221, 220, 218);
}

.img_container img{
    width:150px;
   
}
.logo_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;  
}
.logo2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;  
}
.logo3{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-right: 5px; 
}